

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.login-box{
    width: 500px;
    margin: 100px;
    padding: 100px;
    background: rgba(252, 5, 5, 0.182);
    border-radius: 10px;


}
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 8px;
    gap: 10px;
    margin: 10px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}
.login-btn{
    width: 100%;
    padding: 8px;
    color:white;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    text-align: center;
    margin-left: 10px;
}
.login-btn:active{
    transform:scale(1.05)

}
.remember-forgot{
    
   text-align: center;
    
} 
.remember-forgot a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.register-link{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h2{
    text-align: center;
    font-size: 30px; 
    margin-bottom: 50px;
    
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
    width: 100%;
    height: auto;
}
}